<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFO Viewer</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap.min.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='mdb.dark.min.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='all.min.css') }}"
  />
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NFO DB</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api">API</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/data">All NFOs</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="https://github.com/crackhub-dev/nfo-db" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h1 style="text-align: center;">Submit NFO</h1>
    <div class="container">
    <form method=post enctype=multipart/form-data style="text-align: center;">
        <input type=file name=file class="form-control mb-4" required>
        <div class="form-outline">
          <input type="text" class="form-control" id="rls" name=rls required/>
          <label class="form-label" for="rls">Release Name</label>
          </div>
        <button type="submit" class="btn btn-primary mt-4">Upload</button>
      </form>
      </div>
      <script src="{{ url_for('static', filename='mdb.min.js') }}"></script>  
  </body>
</html>
